#root {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
}

/* remove the blue blinking highlight on click event on mobile */
* {
    -webkit-tap-highlight-color: transparent;
}

:root {
    --size-menu-indent: 5px;
    --size-menu-burger-bar-width: 30px;
    --size-menu-burger-bar-height: 4px;
    --size-menu-outside-button-width: 40px;

    --size-cell: min(11.5vh, 12vw);

    --size-board-border: calc(var(--size-cell) * 0.125);
    --size-board-outline: calc(var(--size-cell) * 0.05);
    --size-board-shadow: calc(var(--size-checker) * 0.5);

    --size-next-player-marker: calc(var(--size-board-border) / 3);

    --size-checker: calc(var(--size-cell) * 0.8);
    --size-checker-core: calc(var(--size-checker) * 0.6);
    --size-checker-outline: calc(var(--size-cell) * 0.05);
    --size-checker-shadow: calc(var(--size-checker) * 0.3);

    --size-indent-removed-checkers-from-board: var(--size-board-border);

    --time-transition: 0.5s;

    --color-cell-bg-dark: rgb(124, 104, 98);
    --color-cell-bg-bright: rgb(179, 161, 161);
    --color-cell-dev-mode-id: rgb(19, 17, 17);

    --color-black-body: rgb(27, 20, 20);
    --color-black-core: rgb(39, 29, 29);
    --color-black-outline: rgb(56, 49, 49);

    --color-white-body: rgb(77, 71, 64);
    --color-white-core: rgb(97, 85, 76);
    --color-white-outline: rgb(37, 35, 30);

    --color-checker-core-king: rgb(117, 70, 70);

    --color-checker-shadow-active: rgb(235, 235, 185);
    --color-checker-shadow-attack: rgb(219, 89, 89);
    --color-checker-shadow-available: rgb(191, 235, 185);

    --color-board-border: rgb(105, 87, 62);
    --color-board-outline: rgb(82, 54, 54);

    --color-next-player-marker: var(--color-checker-shadow-available);

    --color-menu-item: rgb(48, 35, 35);
}

body {
    overflow: hidden;
    background-image: url("/wood-texture.png");
    background-size: contain;
    background-position: center;
    filter: saturate(70%);
}

.end-screen-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.end-screen-title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
}

.end-screen-title-wrapper .cell {
    margin: 0 15px;
}
.end-screen-title-wrapper .cell::before {
    box-shadow: 0 0 calc(var(--size-checker-shadow) * 1.5) white;
}

.end-screen-title {
    font-size: min(9vw, 4.2rem);
    white-space: nowrap;
    margin: 0;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: var(--size-menu-indent);
}

.menu--main {
    z-index: 3;
    position: absolute;

    left: var(--size-menu-indent);
    top: var(--size-menu-indent);
}

.menu--end {
    margin: 0 auto;
    width: fit-content;
}

.menu-burger {
    width: fit-content;
    cursor: pointer;
    padding: 12px 0;
}

.menu-burger span {
    position: relative;
    display: block;
    width: var(--size-menu-burger-bar-width);
    height: var(--size-menu-burger-bar-height);
    background: #ffffff;
}

.menu-burger span:before,
.menu-burger span:after {
    position: absolute;
    background: #ffffff;
    content: "";
    left: 0;
    width: var(--size-menu-burger-bar-width);
    height: var(--size-menu-burger-bar-height);
}

.menu-burger span:before {
    top: -8px;
}

.menu-burger span:after {
    top: 8px;
}

.menu-burger.open span {
    background: transparent;
}

.menu-burger.open span:before {
    transform: rotate(45deg) translate(5px, 6px);
}

.menu-burger.open span:after {
    transform: rotate(-45deg) translate(5px, -6px);
}

.menu-items {
    display: flex;
    flex-direction: column;
}

.menu-button,
.menu-select {
    text-align: left;
    background-color: var(--color-menu-item);
    padding: 0.2em 0.4em;
    border-radius: 3px;
    font-size: 1rem;
    outline: 0.5px solid white;
    border-radius: 7px;
    color: white;
}

.menu-button--outside {
    position: absolute;
    top: var(--size-menu-indent);
    right: var(--size-menu-indent);

    z-index: 3;

    min-width: var(--size-menu-outside-button-width);
    padding: 0.2em;

    font-size: 1.5rem;
    line-height: 0.8;
    font-weight: bold;
    text-align: center;

    background-color: transparent;
    outline: none;
}

.game-field {
    --size-menu-indent-calculated: calc(
        (var(--size-cell) + var(--size-indent-removed-checkers-from-board)) * -1
    );

    display: flex;
    flex-direction: row;
    gap: var(--size-indent-removed-checkers-from-board);

    position: relative;
}

.game-field.reverse,
.game-field.reverse .board .cell {
    transform: rotate(180deg);
}

.deleted-section {
    position: absolute;
}

.deleted-section.normal {
    order: 3;
    right: var(--size-menu-indent-calculated);
}

.deleted-section.reverse {
    transform: rotate(180deg);
    order: 1;

    left: var(--size-menu-indent-calculated);
    bottom: 0;
}

/* Vertical screen view */
@media (max-aspect-ratio: 1/1) {
    .game-field {
        flex-direction: column;
    }

    .deleted-section {
        display: flex;
        flex-direction: row;
    }

    .deleted-section.normal {
        right: auto;
        left: auto;
        top: var(--size-menu-indent-calculated);
    }

    .deleted-section.reverse {
        right: 0;
        bottom: var(--size-menu-indent-calculated);
    }

    .cell.out-of-game {
        margin-bottom: 0;
        max-width: calc(var(--size-cell) * 0.4);
    }
}

.board {
    order: 2;

    position: relative;
    display: grid;
    grid-template-columns: repeat(8, 1fr);

    border: var(--size-board-border) solid var(--color-board-border);
    outline: var(--size-board-outline) solid var(--color-board-outline);
    box-shadow: 0 0 var(--size-board-shadow) black;
}

/* wooden texture overlay */
.board::before {
    pointer-events: none;
    z-index: 1;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: rotate(90deg);
    opacity: 0.23;

    background-image: url("/wood-texture-alpha.png");
    background-size: contain;
}

/* player mark bar */
.next-white::after,
.next-black::after {
    z-index: 2;
    position: absolute;
    content: "";
    left: 0;
    right: 0;

    height: var(--size-next-player-marker);
    width: 100%;
    background-color: var(--color-next-player-marker);
    opacity: 0.7;
}

/* player mark bar position */
.next-white::after {
    bottom: calc(
        (var(--size-board-border) / 2 + var(--size-next-player-marker) / 2) * -1
    );
}

/* player mark bar position */
.next-black::after {
    top: calc(
        (var(--size-board-border) / 2 + var(--size-next-player-marker) / 2) * -1
    );
}

.cell {
    position: relative;
    background-color: var(--color-cell-bg-dark);

    width: var(--size-cell);
    height: var(--size-cell);

    font-size: calc(var(--size-cell) * 0.18);

    color: var(--color-cell-dev-mode-id);
    text-align: left;
    user-select: none;
    line-height: 0.7;
}

.cell.out-of-game {
    margin-bottom: -60%;
}

.cell::before,
.cell::after {
    z-index: 2;
    position: absolute;
    content: "";
    border-radius: 50%;
    transition: box-shadow var(--time-transition) ease,
        opacity var(--time-transition) ease;
    opacity: 0;
}

/* cell colors */
.dark {
    background-color: var(--color-cell-bg-dark);
}

.light {
    background-color: var(--color-cell-bg-bright);
}

.trans {
    background-color: transparent;
}

.checker::before,
.checker::after {
    z-index: 2;
    position: absolute;
    content: "";
    border-radius: 50%;
    opacity: 1;
}

.checker::after {
    opacity: 0.7;
}

.checker::before {
    background-size: contain;

    width: var(--size-checker);
    height: var(--size-checker);

    top: calc(var(--size-cell) / 2 - var(--size-checker) / 2);
    left: calc(var(--size-cell) / 2 - var(--size-checker) / 2);

    box-shadow: 0 0 var(--size-checker-shadow) black;
}

.checker::after {
    width: var(--size-checker-core);
    height: var(--size-checker-core);

    top: calc(var(--size-cell) / 2 - var(--size-checker-core) / 2);
    left: calc(var(--size-cell) / 2 - var(--size-checker-core) / 2);

    box-shadow: inset 0 0 calc(var(--size-checker-shadow) * 0.4) black;
}

.black::before {
    background-image: url("/checker-texture-black.png");

    background-color: var(--color-black-body);
    outline: var(--size-checker-outline) solid var(--color-white-outline);
}

.black::after {
    background-color: var(--color-black-core);
    outline: var(--size-checker-outline) solid var(--color-black-outline);
}

.white::before {
    background-image: url("/checker-texture-white.png");

    background-color: var(--color-white-body);
    outline: var(--size-checker-outline) solid var(--color-white-outline);
}

.white::after {
    background-color: var(--color-white-core);
    outline: var(--size-checker-outline) solid var(--color-white-outline);
}

.movable:hover::before {
    box-shadow: 0 0 var(--size-checker-shadow)
        var(--color-checker-shadow-available);
}

.movable:active::before {
    box-shadow: 0 0 var(--size-checker-shadow)
        var(--color-checker-shadow-active);
}

.active::before {
    box-shadow: 0 0 var(--size-checker-shadow)
        var(--color-checker-shadow-active);
}

.king::after {
    background-color: var(--color-checker-core-king);
}

.field-to-move {
    cursor: pointer;
}

.field-to-move::before {
    opacity: 1;
    position: absolute;
    content: "";
    border-radius: 50%;

    width: var(--size-checker);
    height: var(--size-checker);

    top: calc(var(--size-cell) / 2 - var(--size-checker) / 2);
    left: calc(var(--size-cell) / 2 - var(--size-checker) / 2);

    background-color: transparent;
    box-shadow: 0 0 var(--size-checker-shadow)
        var(--color-checker-shadow-available);
}

.under-attack::before {
    box-shadow: 0 0 var(--size-checker-shadow)
        var(--color-checker-shadow-attack);
}

.controversial::before {
    box-shadow: 0 0 var(--size-checker-shadow) rgb(0, 98, 128) !important;
}

.controversial-hover::before {
    box-shadow: 0 0 var(--size-checker-shadow) rgb(100, 7, 0) !important;
}

.controversial::before,
.controversial::after,
.controversial-hover::before,
.controversial-hover::after,
.pointer {
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 5;
}
