#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

:root {
    --color-cell-outline: rgb(153, 129, 129);
    --color-cell-bg-dark: rgb(109, 85, 85);
    --color-cell-bg-bright: rgb(167, 147, 147);

    --color-black-body: rgb(27, 20, 20);
    --color-black-core: rgb(39, 29, 29);
    --color-black-outline: rgb(56, 49, 49);

    --color-white-body: rgb(77, 71, 64);
    --color-white-core: rgb(97, 85, 76);
    --color-white-outline: rgb(37, 35, 30);

    --color-checker-shadow-active: yellow;
    --color-checker-shadow-attack: red;
    --color-checker-shadow-available: green;

    --size-cell: min(10.5vh, 10vw);
    --size-cell-outline: 2px;

    --size-checker: calc(var(--size-cell) * 0.8);
    --size-checker-core: calc(var(--size-checker) * 0.6);
    --size-checker-outline: var(--size-cell-outline);
    --size-checker-shadow: 15px;

    --size-possible-move: calc(var(--size-cell) * 0.75);
}

body {
    background-image: url("./wood-texture.png");
    background-size: contain;
}

.menu {
    --indent: 10px;

    position: absolute;
    left: var(--indent);
    top: var(--indent);

    display: flex;
    flex-direction: column;
    gap: var(--indent);
}

.board {
    display: grid;
    grid-template-columns: repeat(8, 1fr);

    border: 10px solid rgb(105, 87, 62);
    outline: 4px solid rgb(82, 54, 54);

    position: relative;
}

.board::before {
    pointer-events: none;
    z-index: 1;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: rotate(90deg);
    opacity: 0.23;

    background-image: url("./wood-texture-alpha.png");
    background-size: contain;
}

.board-inverse {
    transform: rotate(180deg);
}

.board-90 {
    transform: rotate(90deg);
}

.cell {
    position: relative;
    background-color: var(--color-cell-bg-dark);

    border: calc(var(--size-cell-outline) / 2) solid var(--color-cell-outline);
    outline: calc(var(--size-cell-outline) / 2) solid var(--color-cell-outline);
    width: var(--size-cell);
    height: var(--size-cell);

    font-size: calc(var(--size-cell) * 0.18);
    color: rgb(46, 233, 62);
    text-align: left;
    user-select: none;
    line-height: 0.7;
}

.dark {
    background-color: var(--color-cell-bg-dark);
}

.light {
    background-color: var(--color-cell-bg-bright);
}

.checker::before,
.checker::after {
    z-index: 2;
    position: absolute;
    content: "";
    border-radius: 50%;
}

.checker::after {
    opacity: 0.7;
}

.checker::before {
    background-size: contain;

    width: var(--size-checker);
    height: var(--size-checker);

    top: calc(var(--size-cell) / 2 - var(--size-checker) / 2);
    left: calc(var(--size-cell) / 2 - var(--size-checker) / 2);

    box-shadow: 0 0 var(--size-checker-shadow) black;
}

.checker::after {
    width: var(--size-checker-core);
    height: var(--size-checker-core);

    top: calc(var(--size-cell) / 2 - var(--size-checker-core) / 2);
    left: calc(var(--size-cell) / 2 - var(--size-checker-core) / 2);

    box-shadow: inset 0 0 calc(var(--size-checker-shadow) * 0.4) black;
}

.black::before {
    background-image: url("./checker-texture-black.png");

    background-color: var(--color-black-body);
    outline: var(--size-checker-outline) solid var(--color-black-outline);
}

.black::after {
    background-color: var(--color-black-core);
    outline: var(--size-checker-outline) solid var(--color-black-outline);
}

.white::before {
    background-image: url("./checker-texture-white.png");

    background-color: var(--color-white-body);
    outline: var(--size-checker-outline) solid var(--color-white-outline);
}

.white::after {
    background-color: var(--color-white-core);
    outline: var(--size-checker-outline) solid var(--color-white-outline);
}

.active::before,
.active:hover::before {
    box-shadow: 0 0 var(--size-checker-shadow)
        var(--color-checker-shadow-active);
}

.attack::before {
    box-shadow: 0 0 var(--size-checker-shadow)
        var(--color-checker-shadow-attack);
}

.possible-move::before {
    position: absolute;
    content: "";
    border-radius: 50%;

    width: var(--size-checker);
    height: var(--size-checker);

    top: calc(var(--size-cell) / 2 - var(--size-checker) / 2);
    left: calc(var(--size-cell) / 2 - var(--size-checker) / 2);

    background-color: transparent;
    box-shadow: 0 0 var(--size-checker-shadow)
        var(--color-checker-shadow-available);
}

.possible-move {
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.movable:hover::before {
    box-shadow: 0 0 var(--size-checker-shadow)
        var(--color-checker-shadow-available);
}

.movable:active::before {
    box-shadow: 0 0 var(--size-checker-shadow)
        var(--color-checker-shadow-active);
}

.king::after {
    background-color: rgb(117, 70, 70);
}
